/* Query pagination
--------------------------------------------- */

.wp-block-query-pagination-numbers {
	display: flex;
	gap: var(--wp--preset--spacing--xx-small);
}

.wp-block-query-pagination-numbers span.page-numbers,
.wp-block-query-pagination-numbers a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 2.5rem;
}

.wp-block-query-pagination-numbers span.page-numbers {
	padding-top: 0.625em;
	padding-right: 0.875em;
	padding-bottom: 0.625em;
	padding-left: 0.875em;
	font-size: var(--wp--preset--font-size--x-small);
	background-color: var(--wp--preset--color--dark-10);
	border-radius: 10em;
	border-width: 0;
}
