
.wp-block-details summary::marker {
	content: '';
}

.wp-block-details summary {
	display: flex;
	align-items: center;
	font-weight: var(--wp--custom--font-weight--medium);
	gap: var(--wp--preset--spacing--xx-small);
}

.wp-block-details summary::after {
	content: '+';
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: var(--wp--custom--font-weight--medium);
	width: 1.5rem;
	height: 1.5rem;
	transition: transform 100ms ease-in-out;
	background-color: var(--wp--preset--color--dark-10);
	border-radius: 20em;
	font-size: 1rem;
	line-height: 1;
}

.wp-block-details[open] summary::after {
	transform: rotate(45deg);
}

.is-style-accordion summary {
	justify-content: space-between;
	border-bottom: 1px solid transparent;
}

.is-style-accordion summary,
.is-style-accordion summary + * {
	padding: var(--wp--preset--spacing--normal);
}

.is-style-accordion[open] summary {
	border-bottom: 1px solid var(--wp--preset--color--dark-20);
}

.is-style-accordion summary::after {
	content: '';
	border-right: 2px solid currentColor;
	border-bottom: 2px solid currentColor;
	width: 0.5em;
	height: 0.5em;
	transform: rotate(45deg);
	border-radius: 0;
}

.is-style-accordion[open] summary::after {
	transform: rotate(225deg);
}
